<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Megrim&family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500&display=swap"
      rel="stylesheet"
    />
    <link href="/stylesheets/output.css" rel="stylesheet" />
    <title>📙 Otaku Lib</title>
  </head>
  <body>
    <header class="bg-primary py-4">
      <h1 class="text-4xl font-megrim font-extrabold text-center text-white">
        Otaku Lib
      </h1>
    </header>

    <main class="flex flex-col justify-center items-center gap-8 min-h-screen">
      <h2><%= book.title %></h2>
      <div>
        <ul class="flex gap-2 justify-center items-end">
          <li><%= book.author %></li>
          <li><%= book.category %></li>
          <li>Release date : <%= book.releaseDate %></li>
          <li>End date : <%= book.endDate %></li>
        </ul>
      </div>

      <img src="<%= book.image %>" alt="cover of <%= book.title %>" />

      <p><%= book.description %></p>
    </main>
  </body>
</html>
