<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MY ADDRESS BOOK</title>
  <link rel="stylesheet" href="/stylesheets/output.css" />
</head>
<body class=" bg-orange-200 mx-72">
  <header>
    <h1 class="text-red-900 text-center text-2xl bg-orange-400 p-1 items-center rounded my-3">MY ADDRESS BOOK</h1>
  </header>
  <main class="text-center bg-rose-200 p-4 border-2 border-orange-500 mx-16 my-3 rounded">
    <ul>
      <% contacts.forEach((contact, index) => { %>
        <li class="mx-2 text-blue-500 my-4">
          <a href="/contact/<%= contact.lastName %>" class="text-blue-500 text-lg mx-1 py-1 px-4">
            <%= contact.gender %> <%= contact.lastName %> <%= contact.firstName %>
          </a>
          <% if (new Date().getDate() === new Date(contact.birthDay)) { %>
            <img src="/path/to/cake-icon.png" alt="Cake Icon" class="my-3" />
          <% } %>
          <a href="/contact/modify/<%= contact.lastName %>" class="bg-orange-300 py-1 px-6 rounded border-solid border-2 border-white text-white text-xl hover:bg-orange-700">TO MODIFY</a>
          <a href="/deleteContactByIndex/<%= contact.lastName %>?index=<%= index %>" class="bg-red-300 py-1 px-6 rounded border-solid border-2 border-white text-white text-xl hover:bg-red-700" onclick="return confirm('Are you sure to delete this contact ?')">DELETE</a>
        </li>
      <% }) %>
    </ul>
    <a href="/add" class="bg-green-300 py-1 px-6 m-10 rounded border-solid border-2 border-white text-white text-xl hover:bg-green-700">ADD CONTACT</a>
  </main>
</body>
</html>